In [182]:
import numpy as np
import pandas as pd
import re
import nltk
nltk.download('wordnet')
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('averaged_perceptron_tagger')
from nltk.corpus import stopwords
from nltk.corpus import wordnet
from nltk.stem import WordNetLemmatizer 
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.model_selection import train_test_split
import keras
from keras.models import Sequential
from keras.layers import Dense, Dropout
from keras.layers import LSTM,  Embedding
from keras.layers import Flatten,BatchNormalization
pd.set_option('display.max_colwidth', -1)

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

In [0]:
df= pd.read_csv('/content/trump_data.csv')
df.head()

                                                                                                                                         text
0  Today we express our deepest gratitude to all those who have served in our armed forces. #ThankAVet https://t.co/wPk7QWpK8Z
1  Busy day planned in New York. Will soon be making some very important decisions on the people who will be running our government!
2  Love the fact that the small groups of protesters last night have passion for our great country. We will all come together and be proud!
3  Just had a very open and successful presidential election. Now professional protesters, incited by the media, are protesting. Very unfair!
4  A fantastic day in D.C. Met with President Obama for first time. Really good meeting, great chemistry. Melania liked Mrs. O a lot!

###Data Cleaning

In [0]:
# supprimer les liens
df['text'] = df['text'].replace(r'http\S+', ' ', regex=True).replace(r'www\S+', '', regex=True)
#sumpprimer les mentions
df['text'] = df['text'].replace(r'@\S+', ' ', regex=True)
# supprmier les hashtags
df['text'] = df['text'].replace(r'(\s)#\w+', ' ', regex=True)
df['text'] = df.text.apply(lambda x: x.lower())
#enlever les punctuations
df['text'] = df.text.str.replace("[^\w\s]", "  ")
# enlever les caractéres spéciaux
df['text'] =  df['text'].apply(lambda x: re.sub(r'[^\x00-\x7F]+',' ', x))
# supprimer les mots d'un seul caractére
df['text'] = df.text.apply(lambda x: ' '.join([word for word in x.split() if len(word)>1]))
df['text'] = df.text.apply(lambda x: ' '.join([word for word in x.split() if len(word)>2]))
df.head()

                                                                                                                               text
0  today express our deepest gratitude all those who have served our armed forces
1  busy day planned new york will soon making some very important decisions the people who will running our government
2  love the fact that the small groups protesters last night have passion for our great country will all come together and proud
3  just had very open and successful presidential election now professional protesters incited the media are protesting very unfair
4  fantastic day met with president obama for first time really good meeting great chemistry melania liked mrs lot

In [0]:
#remove stop words
stop = stopwords.words('english')
newStopWords = ['youve','be','can','could','must','would','us','year','day','finally','time','also','last','today','mrs','thank'
                'next','two','three','else','even','there','if','so','one','all','got','get','use','too','etc','rt','mr']
stop.extend(newStopWords)
df['text'] = df['text'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))
df.head()

                                                                                            text
0  express deepest gratitude served armed forces
1  busy planned new york soon making important decisions people running government
2  love fact small groups protesters night passion great country come together proud
3  open successful presidential election professional protesters incited media protesting unfair
4  fantastic met president obama first really good meeting great chemistry melania liked lot

In [0]:
nltk.download('words')
words = set(nltk.corpus.words.words())
# enlever les mots non anglaises
df['text'] = df.text.apply(lambda x: ' '.join([word for word in x.split() if word in words]))
df.head()

[nltk_data] Downloading package words to /root/nltk_data...
[nltk_data]   Unzipping corpora/words.zip.

                                                                    text
0  express gratitude armed
1  busy new york soon making important people running government
2  love fact small night passion great country come together
3  open successful presidential election professional media unfair
4  fantastic met president first really good meeting great chemistry lot

In [0]:
# Conserver les tweets qui contiennent au moins 3 mots
df["nb_words"]=df.text.apply(lambda x: len(x.split()))
df=df[df['nb_words'] >= 3]
df.reset_index(drop=True, inplace=True)
df

                                                                       text  nb_words
0     express gratitude armed                                                3
1     busy new york soon making important people running government          9
2     love fact small night passion great country come together              9
3     open successful presidential election professional media unfair        7
4     fantastic met president first really good meeting great chemistry lot  10
...                                                                     ...  ..
9634  may number act priority focus tax reform many far greater importance   11
9635  thought felt win big easily fabled knew                                7
9636  enough around world without yet another president russia respect far   10
9637  terrible situation spoke governor stay safe                            6
9638  general news conference eleventh thank                                 5

[9639 rows x 2 columns]

### Word Lemmatization

In [0]:
def get_wordnet_pos(word):
    """Map POS tag to first character lemmatize() accepts"""
    tag = nltk.pos_tag([word])[0][1][0].upper()
    tag_dict = {"J": wordnet.ADJ,
                "N": wordnet.NOUN,
                "V": wordnet.VERB,
                "R": wordnet.ADV}

    return tag_dict.get(tag, wordnet.NOUN)

lemmatizer = WordNetLemmatizer()


df['text'] = df['text'].apply(lambda x: ' '.join([lemmatizer.lemmatize(w, get_wordnet_pos(w)) for w in x.split()]))

In [0]:
df

                                                                       text  nb_words
0     express gratitude arm                                                  3
1     busy new york soon make important people run government                9
2     love fact small night passion great country come together              9
3     open successful presidential election professional medium unfair       7
4     fantastic met president first really good meeting great chemistry lot  10
...                                                                     ...  ..
9634  may number act priority focus tax reform many far great importance     11
9635  thought felt win big easily fabled knew                                7
9636  enough around world without yet another president russia respect far   10
9637  terrible situation spoke governor stay safe                            6
9638  general news conference eleventh thank                                 5

[9639 rows x 2 columns]

### Extract Keywords

In [0]:
def sort_coo(coo_matrix):
    tuples = zip(coo_matrix.col, coo_matrix.data)
    return sorted(tuples, key=lambda x: (x[1], x[0]), reverse=True)

In [0]:
def extract_topn_from_vector(tfidf_transformer,feature_names, doc, topn=10):
    """get the feature names and tf-idf score of top n items"""
    tf_idf_vector=tfidf_transformer.transform(cv.transform([str(doc)]))
    #sort the tf-idf vectors by descending order of scores
    sorted_items=sort_coo(tf_idf_vector.tocoo())
    #use only topn items from vector
    sorted_items = sorted_items[:topn]
    
    feature_vals = list()
    for idx, score in sorted_items:
       
       feature_vals.append(feature_names[idx]) 
    #print(sorted_items[0][0])  
    #return feature_names[sorted_items[0][0]]
    return ' '.join([x for x in feature_vals])

In [0]:

docs= df['text'].values.tolist()
cv=CountVectorizer(max_df=1,stop_words=stop)
word_count_vector=cv.fit_transform([str(docs)])

In [0]:
tfidf_transformer=TfidfTransformer(smooth_idf=True,use_idf=True)
tfidf_transformer.fit(word_count_vector)

TfidfTransformer(norm='l2', smooth_idf=True, sublinear_tf=False, use_idf=True)

In [0]:
feature_names=cv.get_feature_names()
df['keywords']= df.text.apply(lambda x: extract_topn_from_vector(tfidf_transformer,feature_names,x,3))

In [0]:
df

                                                                       text  ...                        keywords
0     express gratitude arm                                                  ...  gratitude express arm
1     busy new york soon make important people run government                ...  york soon run
2     love fact small night passion great country come together              ...  together small passion
3     open successful presidential election professional medium unfair       ...  unfair successful professional
4     fantastic met president first really good meeting great chemistry lot  ...  really president met
...                                                                     ...  ...                   ...
9634  may number act priority focus tax reform many far great importance     ...  tax reform priority
9635  thought felt win big easily fabled knew                                ...  win thought knew
9636  enough around world without yet another president russia respect far   ...  yet world without
9637  terrible situation spoke governor stay safe                            ...  terrible stay spoke
9638  general news conference eleventh thank                                 ...  thank news general

[9639 rows x 3 columns]

In [0]:
from tensorflow.keras.preprocessing.text import Tokenizer

tokenizer = Tokenizer()
tokenizer.fit_on_texts(df['keywords'].values.tolist())
#df['sequences'] = df.keywords.apply(lambda x :tokenizer.texts_to_sequences(x))
sequences = tokenizer.texts_to_sequences(df['keywords'].values.tolist())
sequences

[[1252, 1253, 1703],
 [62, 39, 38],
 [31, 162, 647],
 [153, 236, 532],
 [45, 12, 648],
 [2, 228, 830],
 [48, 1002, 133],
 [9, 335, 29],
 [138, 237, 52],
 [7, 9, 90],
 [10, 9, 41],
 [98, 108, 1003],
 [6, 1, 256],
 [9, 14, 36],
 [9, 494, 15],
 [7, 82, 53],
 [6, 208, 2],
 [17, 39, 336],
 [83, 5, 1704],
 [6, 2, 66],
 [9, 26, 101],
 [9, 1004, 831],
 [97, 1254, 831],
 [9, 1, 36],
 [6, 26, 2],
 [39, 18, 99],
 [6, 26, 2],
 [2, 20, 15],
 [2, 18, 48],
 [6, 31, 56],
 [34, 1005, 37],
 [3, 6, 31],
 [50, 590, 101],
 [2, 51, 74],
 [26, 316, 52],
 [381, 102, 832],
 [109, 1006, 197],
 [6, 17, 591],
 [105, 2, 99],
 [6, 2, 20],
 [17, 13, 52],
 [6, 9, 2],
 [26, 52, 382],
 [101, 52],
 [90, 63, 51],
 [6, 9, 29],
 [4, 10, 42],
 [649, 317, 1007],
 [2, 51, 134],
 [1705, 209, 1008],
 [6, 2, 592],
 [265, 1255, 13],
 [82, 7, 2],
 [139, 6, 96],
 [4, 5, 59],
 [4, 32, 134],
 [139, 6, 96],
 [2, 74, 15],
 [7, 35, 66],
 [133, 2, 533],
 [383, 247, 1009],
 [109, 1706, 167],
 [67, 456, 157],
 [7, 82, 2],
 [1256, 74, 416],
 [2, 75, 833],
 [29, 97, 38],
 [41, 10, 1257],
 [9, 534, 533],
 [2, 20, 358],
 [101, 834, 52],
 [1258, 835, 535],
 [145, 265, 457],
 [118, 836, 1707],
 [24, 20, 1708],
 [1, 64, 257],
 [102, 1010, 337],
 [7, 650, 181],
 [6, 1011, 318],
 [70, 108, 590],
 [1709, 38, 12],
 [22, 14, 837],
 [19, 536, 32],
 [22, 6, 198],
 [6, 2, 316],
 [94, 87, 187],
 [1710, 58, 458],
 [337, 1259, 113],
 [198, 26, 316],
 [66, 6, 9],
 [6, 838, 1],
 [6, 2, 85],
 [6, 9, 2],
 [26, 198, 18],
 [22, 163, 60],
 [1012, 1013, 839],
 [58, 16, 135],
 [382, 26, 13],
 [2, 495, 338],
 [1, 256, 2],
 [6, 208, 66],
 [19, 2, 840],
 [110, 44, 114],
 [26, 338, 52],
 [105, 2, 13],
 [265, 13, 459],
 [96, 39, 384],
 [16, 1014, 537],
 [46, 8, 841],
 [24, 13, 168],
 [8, 5, 182],
 [17, 26, 338],
 [417, 228, 319],
 [2, 285, 12],
 [66, 6, 52],
 [169, 1711, 247],
 [1260, 188, 202],
 [44, 20, 43],
 [26, 52, 1015],
 [9, 335, 18],
 [651, 842, 1712],
 [52, 1261, 1015],
 [9, 335, 18],
 [1262, 12, 723],
 [265, 319, 158],
 [90, 652, 843],
 [98, 9, 5],
 [11, 276, 188],
 [159, 54, 119],
 [6, 9, 2],
 [43, 1713, 2],
 [77, 32, 724],
 [26, 52, 1261],
 [6, 9, 2],
 [6, 9, 2],
 [123, 460, 1263],
 [7, 39, 18],
 [1264, 124, 82],
 [86, 229, 88],
 [8, 188, 202],
 [188, 202, 593],
 [9, 335, 15],
 [131, 1265, 1266],
 [1714, 188, 202],
 [27, 385, 164],
 [7, 2, 87],
 [10, 17, 2],
 [221, 418, 1267],
 [1, 496, 1715],
 [1716, 1268, 140],
 [9, 2, 237],
 [590, 15, 101],
 [31, 2, 74],
 [248, 497, 844],
 [176, 66, 845],
 [1269, 723, 498],
 [98, 9, 846],
 [9, 1, 89],
 [7, 9, 108],
 [7, 1, 1016],
 [7, 1, 1717],
 [22, 594, 16],
 [139, 337, 222],
 [113, 1718, 847],
 [9, 2, 419],
 [7, 9, 77],
 [9, 100, 1719],
 [77, 386, 1720],
 [50, 1, 2],
 [10, 16, 320],
 [38, 238, 286],
 [6, 9, 595],
 [1721, 848, 499],
 [53, 1, 238],
 [109, 319, 1270],
 [50, 101, 52],
 [208, 2, 51],
 [9, 5, 140],
 [221, 63, 74],
 [97, 538, 170],
 [102, 146, 321],
 [2, 14, 13],
 [17, 26, 52],
 [19, 183, 1271],
 [6, 24, 189],
 [141, 26, 277],
 [26, 49, 52],
 [6, 9, 2],
 [539, 1722, 278],
 [4, 1723, 1724],
 [5, 298, 1725],
 [62, 4, 1272],
 [91, 1017, 653],
 [6, 9, 2],
 [102, 8, 337],
 [1259, 596, 1273],
 [2, 99, 239],
 [1726, 2, 1018],
 [322, 420, 247],
 [111, 18, 1019],
 [9, 86, 323],
 [35, 16, 387],
 [10, 12, 849],
 [16, 461, 1727],
 [1, 324, 190],
 [597, 26, 52],
 [11, 82, 1020],
 [7, 2, 100],
 [165, 51, 285],
 [725, 1728, 171],
 [1, 2, 14],
 [7, 2, 237],
 [6, 92, 33],
 [1, 88, 14],
 [31, 2, 14],
 [15, 45, 3],
 [145, 590, 101],
 [13, 36, 540],
 [9, 16, 541],
 [15, 3, 82],
 [654, 82, 110],
 [188, 202, 5],
 [1274, 388, 1729],
 [16, 541, 298],
 [25, 169, 5],
 [266, 421, 1730],
 [8, 500, 3],
 [850, 299, 177],
 [726, 82, 1275],
 [164, 136, 535],
 [25, 851, 1276],
 [501, 16, 48],
 [16, 54, 113],
 [146, 171, 141],
 [102, 23, 199],
 [723, 1731, 247],
 [1732, 422, 339],
 [850, 8, 114],
 [173, 191],
 [727, 317, 1277],
 [34, 203, 542],
 [173, 191],
 [1278, 15, 106],
 [46, 48, 113],
 [71, 543, 852],
 [249, 177, 13],
 [82, 853, 38],
 [21, 654, 298],
 [62, 1021, 24],
 [240, 5, 498],
 [192, 598, 177],
 [43, 655, 241],
 [300, 74, 656],
 [57, 78, 135],
 [359, 336, 184],
 [360, 12, 191],
 [21, 387, 1279],
 [172, 544, 1022],
 [340, 267, 323],
 [19, 1023, 1733],
 [158, 854, 1734],
 [1735, 1024, 36],
 [200, 855, 258],
 [124, 15, 135],
 [16, 237, 358],
 [155, 159, 92],
 [163, 145, 1270],
 [53, 221, 91],
 [99, 106, 462],
 [17, 145, 52],
 [728, 1280, 1281],
 [856, 82, 1282],
 [423, 593, 1025],
 [102, 136, 340],
 [53, 1, 66],
 [4, 23, 1026],
 [724, 23, 1736],
 [23, 1283, 424],
 [145, 1284, 847],
 [30, 147, 545],
 [9, 31, 15],
 [29, 38, 341],
 [42, 265, 1737],
 [1, 66, 1738],
 [9, 16, 97],
 [2, 285, 12],
 [221, 1739, 657],
 [9, 857, 242],
 [16, 856, 498],
 [38, 100, 106],
 [339, 183, 247],
 [15, 658, 424],
 [1027, 221, 659],
 [250, 148, 49],
 [1, 230, 177],
 [19, 858, 8],
 [599, 729, 339],
 [79, 60, 839],
 [139, 10, 17],
 [259, 202, 41],
 [1, 145, 502],
 [382, 26, 52],
 [158, 60, 247],
 [243, 13, 60],
 [1740, 1285, 222],
 [23, 383, 660],
 [285, 48, 325],
 [22, 32, 13],
 [23, 660, 1286],
 [155, 221, 287],
 [859, 247, 1741],
 [7, 31, 541],
 [221, 1028, 47],
 [1, 20, 496],
 [79, 1, 70],
 [6, 266, 1742],
 [33, 389, 149],
 [7, 19, 74],
 [7, 1743, 173],
 [22, 660, 1286],
 [167, 14, 27],
 [7, 115, 38],
 [47, 201, 169],
 [382, 26, 52],
 [730, 154, 728],
 [93, 201, 494],
 [463, 1014, 1744],
 [326, 154, 425],
 [301, 113, 171],
 [208, 67, 204],
 [27, 48, 60],
 [1287, 48, 60],
 [6, 1288, 30],
 [13, 3, 361],
 [31, 2, 74],
 [95, 362, 19],
 [33, 659, 184],
 [2, 13, 237],
 [24, 39, 223],
 [731, 92, 732],
 [1, 661, 99],
 [38, 12, 67],
 [1745, 201, 1746],
 [221, 302, 1747],
 [127, 2, 99],
 [9, 193, 242],
 [2, 20, 51],
 [8, 1284, 222],
 [142, 31, 2],
 [26, 99, 52],
 [327, 1289, 5],
 [1290, 8, 600],
 [14, 3, 1],
 [39, 66, 390],
 [176, 159, 43],
 [56, 95, 6],
 [503, 860, 56],
 [26, 49, 52],
 [221, 733, 242],
 [662, 861, 5],
 [215, 339, 183],
 [862, 97, 387],
 [24, 663, 247],
 [18, 48, 2],
 [176, 845, 601],
 [22, 248, 136],
 [9, 2, 242],
 [221, 733, 242],
 [204, 734, 244],
 [208, 23, 64],
 [221, 733, 242],
 [536, 38, 5],
 [39, 66, 205],
 [20, 426, 342],
 [7, 1291, 268],
 [389, 1029, 343],
 [19, 11, 16],
 [221, 733, 242],
 [301, 57, 427],
 [116, 7, 10],
 [31, 2, 18],
 [22, 10, 33],
 [2, 59, 3],
 [164, 1292, 260],
 [120, 428, 47],
 [2, 49, 3],
 [7, 83, 38],
 [654, 110, 735],
 [206, 138, 171],
 [340, 177, 224],
 [29, 288, 1030],
 [1748, 71, 146],
 [5, 12, 1749],
 [1750, 1031, 1751],
 [71, 863, 172],
 [95, 736, 113],
 [16, 541, 172],
 [77, 850, 8],
 [24, 12, 114],
 [464, 504, 1752],
 [1753, 505, 864],
 [1, 165, 185],
 [204, 1032, 1754],
 [25, 1293, 865],
 [174, 224, 465],
 [1755, 1756, 258],
 [174, 321, 1033],
 [243, 457, 664],
 [34, 203, 665],
 [1757, 1758, 225],
 [97, 656, 1294],
 [36, 1295, 1034],
 [25, 90, 363],
 [593, 1296, 1297],
 [97, 188, 202],
 [109, 194, 261],
 [36, 1295, 1034],
 [1298, 303, 666],
 [55, 265, 319],
 [7, 64, 328],
 [1759, 215, 48],
 [466, 25, 24],
 [359, 15, 3],
 [467, 506, 1760],
 [163, 145, 16],
 [52, 1018, 1761],
 [25, 185, 1762],
 [1763, 737, 1764],
 [1, 14, 279],
 [6, 182, 1299],
 [1, 304, 1765],
 [53, 19, 1],
 [1, 47, 507],
 [133, 2, 20],
 [91, 119, 737],
 [125, 2, 20],
 [866, 2, 3],
 [1766, 1767],
 [8, 96, 58],
 [147, 48, 11],
 [5, 391, 113],
 [1011, 1, 867],
 [14, 13, 89],
 [53, 6, 1],
 [868, 1, 259],
 [127, 173, 1035],
 [4, 1768, 546],
 [416, 138, 547],
 [25, 251, 10],
 [14, 1300, 52],
 [88, 15, 160],
 [9, 31, 2],
 [9, 2, 61],
 [94, 98, 9],
 [1, 162, 12],
 [44, 2, 60],
 [667, 363, 4],
 [6, 50, 2],
 [2, 66, 14],
 [2, 69, 732],
 [289, 49, 468],
 [468, 289, 110],
 [25, 392, 63],
 [1769, 1770, 340],
 [55, 738, 1036],
 [1, 1037, 18],
 [102, 23, 305],
 [9, 269, 1301],
 [265, 78, 319],
 [185, 23, 1771],
 [1772, 1038, 1039],
 [508, 290, 1302],
 [23, 364, 4],
 [104, 1773, 847],
 [53, 63, 1040],
 [8, 289, 468],
 [2, 210, 468],
 [210, 197, 117],
 [668, 289, 1774],
 [31, 83, 74],
 [65, 24, 602],
 [178, 423],
 [24, 1775, 76],
 [120, 11, 21],
 [80, 3, 343],
 [389, 668, 5],
 [67, 1032, 1776],
 [67, 734, 735],
 [223, 339, 183],
 [3, 854, 286],
 [1041, 385, 298],
 [42, 1303, 54],
 [22, 111, 38],
 [10, 344, 131],
 [59, 117, 1304],
 [15, 101, 3],
 [22, 77, 603],
 [22, 121, 8],
 [31, 2, 18],
 [4, 177, 146],
 [6, 17, 115],
 [1042, 52, 669],
 [4, 11, 92],
 [2, 1305, 382],
 [1289, 41, 1777],
 [25, 29, 1778],
 [1306, 548, 247],
 [595, 1, 242],
 [604, 3, 739],
 [10, 21, 38],
 [17, 66, 15],
 [164, 22, 6],
 [740, 88, 465],
 [111, 6, 33],
 [34, 136, 605],
 [4, 177, 36],
 [9, 31, 2],
 [19, 2, 20],
 [1305, 52, 382],
 [5, 1779, 69],
 [741, 383, 113],
 [5, 128, 45],
 [244, 8, 100],
 [594, 1307, 291],
 [1308, 187, 1780],
 [22, 111, 70],
 [8, 56, 18],
 [22, 18, 5],
 [97, 359, 100],
 [549, 2, 43],
 [742, 429, 1252],
 [237, 316, 52],
 [105, 26, 18],
 [549, 2, 43],
 [101, 52, 143],
 [66, 101, 52],
 [2, 39, 100],
 [1309, 107, 173],
 [91, 1310, 69],
 [1781, 323, 1782],
 [7, 2, 14],
 [4, 1311, 87],
 [208, 1783],
 [26, 66, 1312],
 [5, 237, 52],
 [9, 193, 242],
 [15, 723, 1043],
 [50, 1, 8],
 [2, 20, 270],
 [2, 112, 174],
 [10, 280, 8],
 [237, 156, 3],
 [48, 80, 393],
 [1, 55, 386],
 [163, 1313, 2],
 [14, 6, 88],
 [1, 419, 1784],
 [45, 49, 58],
 [14, 3, 143],
 [7, 31, 2],
 [1, 88, 14],
 [1, 2, 14],
 [127, 1, 8],
 [22, 6, 2],
 [2, 74, 5],
 [19, 1785, 1786],
 [114, 723, 1044],
 [292, 502, 1314],
 [20, 743, 190],
 [35, 306, 1787],
 [25, 851, 1276],
 [55, 670, 54],
 [142, 231, 550],
 [150, 74, 151],
 [1045, 1788, 201],
 [83, 158, 210],
 [360, 74, 140],
 [744, 24, 359],
 [21, 1789, 164],
 [16, 97, 240],
 [293, 1046, 80],
 [37, 1047, 164],
 [739, 141, 864],
 [365, 1048, 337],
 [163, 159, 145],
 [366, 30, 1033],
 [2, 14, 13],
 [86, 55, 93],
 [5, 271, 23],
 [132, 211, 152],
 [1, 256, 152],
 [171, 136, 430],
 [1, 37, 145],
 [2, 259, 745],
 [551, 869, 54],
 [17, 745, 66],
 [7, 1, 870],
 [28, 127, 125],
 [89, 15, 1049],
 [19, 8, 1790],
 [26, 745, 52],
 [1, 1791, 298],
 [1, 21, 8],
 [89, 15, 1049],
 [125, 65, 195],
 [7, 259, 237],
 [745, 52],
 [76, 732, 469],
 [2, 99, 13],
 [9, 2, 15],
 [4, 6, 1315],
 [10, 317, 1792],
 [671, 31, 74],
 [31, 291, 237],
 [304, 2, 64],
 [325, 2, 279],
 [10, 16, 871],
 [39, 99, 239],
 [606, 5, 607],
 [362, 13, 325],
 [66, 237, 52],
 [31, 74, 15],
 [88, 210, 1793],
 [25, 392, 23],
 [77, 109, 216],
 [111, 197, 80],
 [212, 470, 552],
 [74, 161, 550],
 [271, 46, 70],
 [74, 30, 15],
 [1316, 421, 431],
 [29, 196, 608],
 [609, 41, 1050],
 [509, 30, 60],
 [67, 429, 1253],
 [48, 648, 420],
 [39, 66, 5],
 [6, 11, 872],
 [510, 8, 1794],
 [72, 10, 610],
 [610, 8, 48],
 [1, 150, 837],
 [32, 226, 114],
 [16, 228, 319],
 [1, 1795, 281],
 [205, 361, 282],
 [2, 20, 873],
 [86, 20, 41],
 [1, 121, 13],
 [2, 39, 13],
 [55, 746, 1317],
 [293, 1046, 80],
 [17, 52, 143],
 [4, 1051, 1052],
 [852, 62, 549],
 [2, 197, 611],
 [546, 2, 192],
 [9, 1, 2],
 [10, 57, 252],
 [2, 39, 18],
 [3, 2, 15],
 [28, 94, 159],
 [2, 66, 384],
 [105, 2, 18],
 [2, 14, 3],
 [17, 2, 18],
 [307, 16, 68],
 [4, 12, 874],
 [50, 1, 240],
 [549, 15, 3],
 [126, 364, 875],
 [159, 20, 240],
 [601, 52, 239],
 [26, 601, 52],
 [163, 262, 179],
 [208, 2, 207],
 [4, 125, 2],
 [7, 39, 612],
 [90, 70, 8],
 [12, 36, 609],
 [9, 112, 8],
 [200, 93, 100],
 [22, 4, 46],
 [28, 133, 86],
 [1318, 6, 32],
 [277, 358, 282],
 [591, 217, 553],
 [503, 367, 8],
 [2, 15, 52],
 [17, 43, 394],
 [31, 2, 15],
 [7, 11, 236],
 [61, 747, 318],
 [4, 89, 52],
 [748, 27, 1319],
 [120, 32, 195],
 [2, 14, 49],
 [501, 471, 8],
 [14, 49, 1320],
 [16, 14, 49],
 [28, 29, 31],
 [28, 12, 211],
 [536, 33, 250],
 [749, 432, 500],
 [144, 7, 389],
 [1321, 49, 27],
 [2, 49, 75],
 [2, 1322, 75],
 [46, 2, 496],
 [22, 2, 18],
 [471, 1, 14],
 [83, 1053, 1796],
 [151, 152, 3],
 [2, 228, 151],
 [79, 48, 60],
 [613, 9, 1797],
 [433, 1, 672],
 [307, 1798, 70],
 [86, 63, 64],
 [2, 167, 1323],
 [749, 1799, 1054],
 [232, 592, 12],
 [31, 20, 876],
 [66, 1055, 76],
 [1, 85, 106],
 [9, 1, 30],
 [1324, 1056, 1800],
 [109, 858, 168],
 [9, 432, 157],
 [750, 26, 1801],
 [57, 23, 104],
 [57, 63, 51],
 [137, 336, 1802],
 [6, 1, 48],
 [16, 32, 253],
 [22, 751, 320],
 [13, 657, 1325],
 [28, 129, 162],
 [52, 877, 1326],
 [2, 614, 3],
 [2, 14, 13],
 [7, 1, 256],
 [5, 11, 207],
 [24, 420, 1057],
 [13, 2, 1327],
 [2, 69, 260],
 [19, 368, 14],
 [2, 3, 43],
 [213, 434, 15],
 [191, 6, 107],
 [43, 77, 1328],
 [28, 272, 878],
 [663, 434, 15],
 [129, 1803, 12],
 [31, 2, 74],
 [26, 12, 41],
 [1, 17, 66],
 [1, 417, 14],
 [18, 59, 238],
 [6, 34, 51],
 [188, 202, 168],
 [11, 1804, 1],
 [164, 23, 461],
 [329, 42, 330],
 [98, 112, 342],
 [50, 2, 81],
 [50, 1, 1058],
 [9, 1, 51],
 [9, 1, 16],
 [511, 23, 43],
 [46, 320, 223],
 [752, 673, 456],
 [53, 14, 1329],
 [1, 63, 166],
 [249, 89, 879],
 [753, 52, 841],
 [28, 104, 59],
 [1805, 880, 323],
 [554, 9, 1],
 [50, 555, 147],
 [1, 8, 1059],
 [218, 34, 16],
 [13, 237, 52],
 [50, 13, 52],
 [511, 866, 338],
 [2, 242, 161],
 [881, 292, 1806],
 [1, 20, 12],
 [543, 435, 1807],
 [6, 71, 49],
 [754, 217, 615],
 [436, 369, 223],
 [28, 755, 512],
 [1051, 882, 106],
 [370, 369, 233],
 [38, 395, 651],
 [616, 36, 222],
 [50, 617, 1330],
 [1059, 883, 756],
 [549, 43, 1331],
 [434, 43, 396],
 [276, 1316, 339],
 [42, 24, 147],
 [43, 884, 396],
 [6, 43, 396],
 [19, 437, 882],
 [22, 19, 115],
 [1332, 5, 3],
 [55, 1060, 508],
 [513, 160, 1333],
 [2, 3, 875],
 [31, 14, 13],
 [2, 14, 13],
 [460, 1263, 204],
 [1808, 2, 885],
 [248, 17, 497],
 [556, 204, 218],
 [12, 270, 433],
 [23, 4, 302],
 [397, 169, 1334],
 [218, 64, 47],
 [31, 615, 107],
 [326, 1, 26],
 [66, 5, 205],
 [757, 210, 140],
 [81, 56, 85],
 [6, 34, 748],
 [1, 14, 135],
 [30, 1809, 36],
 [91, 217, 36],
 [206, 75, 605],
 [34, 203, 158],
 [110, 118, 30],
 [31, 74, 15],
 [138, 16, 886],
 [53, 94, 238],
 [887, 29, 31],
 [39, 15, 3],
 [45, 205, 3],
 [2, 39, 18],
 [888, 13],
 [4, 31, 130],
 [2, 74, 237],
 [80, 119, 3],
 [163, 2, 43],
 [164, 889, 1292],
 [43, 3, 17],
 [4, 31, 23],
 [31, 15, 3],
 [248, 17, 497],
 [248, 17, 497],
 [5, 15, 424],
 [890, 188, 202],
 [9, 882, 106],
 [2, 318, 1810],
 [26, 99, 52],
 [17, 43, 101],
 [142, 398, 1061],
 [1, 147, 279],
 [1811, 1812, 1062],
 [253, 1063, 177],
 [200, 18, 134],
 [37, 166, 202],
 [55, 182, 674],
 [95, 362, 11],
 [325, 438, 514],
 [60, 345, 263],
 [48, 758, 30],
 [8, 107, 60],
 [8, 48, 195],
 [48, 60, 1813],
 [5, 35, 181],
 [10, 472, 207],
 [264, 1814, 267],
 [193, 294, 38],
 [35, 2, 123],
 [86, 38, 12],
 [891, 655, 557],
 [188, 202, 1815],
 [208, 2, 20],
 [125, 253, 213],
 [4, 6, 42],
 [44, 70, 21],
 [2, 1335, 170],
 [612, 1816, 12],
 [1, 51, 5],
 [60, 1044, 1817],
 [261, 1275, 170],
 [77, 759, 175],
 [134, 158, 5],
 [33, 56, 195],
 [4, 45, 60],
 [56, 152, 15],
 [675, 2, 152],
 [473, 210, 885],
 [301, 392, 6],
 [367, 399, 49],
 [1, 1818, 892],
 [9, 665, 8],
 [24, 5, 241],
 [9, 118, 30],
 [54, 499, 114],
 [58, 760, 3],
 [1, 43, 3],
 [177, 69, 234],
 [761, 119, 3],
 [38, 47, 5],
 [28, 51, 729],
 [10],
 [62, 1021, 104],
 [1819, 8, 5],
 [2, 762, 1820],
 [21, 346, 224],
 [43, 240, 101],
 [26, 99, 52],
 [1, 60, 893],
 [32, 466, 181],
 [33, 1821, 290],
 [18, 201, 763],
 [1, 321, 863],
 [38, 7, 33],
 [12, 131, 1822],
 [24, 396, 8],
 [155, 219, 396],
 [25, 396, 18],
 [18, 432, 500],
 [474, 1, 299],
 [2, 39, 1823],
 [2, 20, 318],
 [606, 146, 1336],
 [7, 29, 106],
 [536, 250, 12],
 [606, 235, 294],
 [12, 137, 185],
 [71, 299, 894],
 [12, 385, 1337],
 [29, 2, 196],
 [2, 152, 895],
 [26, 289, 59],
 [2, 20, 1338],
 [2, 197, 611],
 [382, 18, 59],
 [23, 226, 383],
 [3, 11, 676],
 [3, 361, 282],
 [17, 143, 666],
 [851, 108, 1285],
 [12, 29, 400],
 [50, 77, 1],
 [475, 535, 1824],
 [121, 401, 12],
 [6, 45, 167],
 [3, 26, 18],
 [39, 205, 358],
 [342, 66, 476],
 [7, 730, 656],
 [35, 41, 677],
 [11, 317, 1064],
 [1339, 177, 41],
 [96, 285, 1825],
 [219, 764, 58],
 [2, 39, 141],
 [515, 150, 118],
 [20, 551, 85],
 [765, 1340, 1826],
 [23, 18, 339],
 [765, 1827, 386],
 [39, 558, 149],
 [17, 289, 468],
 [65, 150, 24],
 [8, 12, 402],
 [165, 56, 128],
 [755, 231, 75],
 [22, 208, 268],
 [307, 111, 83],
 [186, 43, 113],
 [142, 755, 896],
 [392, 185, 285],
 [113, 1, 2],
 [2, 235, 43],
 [162, 60, 394],
 [50, 183, 1341],
 [22, 102, 183],
 [67, 659, 1342],
 [51, 618, 1828],
 [324, 70, 253],
 [155, 1343, 162],
 [10, 41, 77],
 [11, 108, 60],
 [21, 766, 241],
 [602, 79, 474],
 [76, 358, 1829],
 [1300, 52, 897],
 [346, 1065, 739],
 [11, 178, 253],
 [7, 34, 20],
 [382, 44, 251],
 [736, 1, 559],
 [560, 767, 42],
 [78, 89, 106],
 ...]

In [0]:
len(sequences)

9639

### Create  the new DataFrame

In [0]:
matrice = list()
for i in range(len(sequences)-3):
  row=list()
  for j in range(4):
    for seq in sequences[i+j]:
      row.append(seq)
  matrice.append(row)
data=pd.DataFrame(matrice)
data

         0     1     2    3     4     5    6     7     8    9      10      11
0     1252  1253  1703  62   39    38    31   162   647   153  236.0   532.0
1     62    39    38    31   162   647   153  236   532   45   12.0    648.0
2     31    162   647   153  236   532   45   12    648   2    228.0   830.0
3     153   236   532   45   12    648   2    228   830   48   1002.0  133.0
4     45    12    648   2    228   830   48   1002  133   9    335.0   29.0
...   ..    ..    ...  ..    ...   ...   ..    ...  ...  ..      ...    ...
9631  161   744   90    89   1656  16    15   92    60    21   230.0   1686.0
9632  89    1656  16    15   92    60    21   230   1686  7    154.0   859.0
9633  15    92    60    21   230   1686  7    154   859   79   25.0    111.0
9634  21    230   1686  7    154   859   79   25    111   70   166.0   195.0
9635  7     154   859   79   25    111   70   166   195   2    27.0    448.0

[9636 rows x 12 columns]

In [0]:
data.columns=["seq1_1","seq1_2","seq1_3","seq2_1","seq2_2","seq2_3","seq3_1","seq3_2","seq3_3","target1","target2","target3"]
data.head()

   seq1_1  seq1_2  seq1_3  seq2_1  ...  seq3_3  target1  target2  target3
0  1252    1253    1703    62      ...  647     153      236.0    532.0
1  62      39      38      31      ...  532     45       12.0     648.0
2  31      162     647     153     ...  648     2        228.0    830.0
3  153     236     532     45      ...  830     48       1002.0   133.0
4  45      12      648     2       ...  133     9        335.0    29.0

[5 rows x 12 columns]

In [0]:
data.target1.fillna(0, inplace=True)
data.target2.fillna(0, inplace=True)
data.target3.fillna(0, inplace=True)

In [0]:
data.describe()

            seq1_1       seq1_2  ...      target2      target3
count  9636.000000  9636.000000  ...  9636.000000  9636.000000
mean   232.003113   317.386986   ...  318.754047   423.373910
std    446.306164   527.458618   ...  528.771508   611.295782
min    1.000000     1.000000     ...  0.000000     0.000000
25%    11.000000    23.000000    ...  23.000000    41.000000
50%    55.000000    95.000000    ...  96.000000    154.000000
75%    214.000000   347.000000   ...  349.000000   527.000000
max    2889.000000  2894.000000  ...  2894.000000  2893.000000

[8 rows x 12 columns]

### Prepare X and y ad split data

In [0]:
X= data.drop(columns=["target1","target2","target3"])
y=data[["target1","target2","target3"]]
from tensorflow.keras.utils import to_categorical
from sklearn.preprocessing import OneHotEncoder
#y=to_categorical(y, num_classes=vocab_size)
#enc = OneHotEncoder(sparse=False) 
#y=enc.fit_transform(y.values.reshape((y.shape[0]),3))

In [141]:
y.shape

(9636, 3)

In [0]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,  test_size=0.3, random_state=40)

### LSTM Model

In [0]:
vocab_size = len(tokenizer.word_index) + 1

In [0]:
from keras import backend as K
def root_mean_squared_error(y_true, y_pred):
        return K.sqrt(K.mean(K.square(y_pred - y_true)))

In [185]:

model = Sequential()
model.add(Embedding(vocab_size, 50, input_length=9))
model.add(LSTM(1024,return_sequences=True))
model.add(Dropout(0.2))
model.add(LSTM(128,return_sequences=True))
model.add(Dropout(0.2))
model.add(LSTM(128,return_sequences=True))
model.add(Dropout(0.2))
model.add(LSTM(128,return_sequences=False))
model.add(Dropout(0.2))
#model.add(Flatten())
model.add(Dense(3))
model.compile(loss= root_mean_squared_error , optimizer="adam",metrics=["accuracy"])
model.summary()
#

Model: "sequential_42"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_38 (Embedding)     (None, 9, 50)             144750
_________________________________________________________________
lstm_97 (LSTM)               (None, 9, 1024)           4403200
_________________________________________________________________
dropout_3 (Dropout)          (None, 9, 1024)           0
_________________________________________________________________
lstm_98 (LSTM)               (None, 9, 128)            590336
_________________________________________________________________
dropout_4 (Dropout)          (None, 9, 128)            0
_________________________________________________________________
lstm_99 (LSTM)               (None, 9, 128)            131584
_________________________________________________________________
dropout_5 (Dropout)          (None, 9, 128)            0
_________________________________________________________________
lstm_100 (LSTM)              (None, 128)               131584
_________________________________________________________________
dropout_6 (Dropout)          (None, 128)               0
_________________________________________________________________
dense_50 (Dense)             (None, 3)                 387
=================================================================
Total params: 5,401,841
Trainable params: 5,401,841
Non-trainable params: 0
_________________________________________________________________

In [186]:
model.fit(X_train, y_train, batch_size = 100, epochs = 20, validation_data=(X_test, y_test))

Train on 6745 samples, validate on 2891 samples
Epoch 1/20
6745/6745 [==============================] - 83s 12ms/step - loss: 624.5522 - acc: 0.4466 - val_loss: 610.5209 - val_acc: 0.4414
Epoch 2/20
6745/6745 [==============================] - 73s 11ms/step - loss: 619.6867 - acc: 0.4491 - val_loss: 606.0733 - val_acc: 0.4414
Epoch 3/20
6745/6745 [==============================] - 73s 11ms/step - loss: 614.9655 - acc: 0.4491 - val_loss: 601.9084 - val_acc: 0.4414
Epoch 4/20
6745/6745 [==============================] - 73s 11ms/step - loss: 610.5656 - acc: 0.4491 - val_loss: 597.9458 - val_acc: 0.4414
Epoch 5/20
6745/6745 [==============================] - 73s 11ms/step - loss: 606.0258 - acc: 0.4491 - val_loss: 594.1511 - val_acc: 0.4414
Epoch 6/20
6745/6745 [==============================] - 73s 11ms/step - loss: 603.1618 - acc: 0.4491 - val_loss: 590.5050 - val_acc: 0.4414
Epoch 7/20
6745/6745 [==============================] - 74s 11ms/step - loss: 599.5864 - acc: 0.4491 - val_loss: 587.0003 - val_acc: 0.4414
Epoch 8/20
6745/6745 [==============================] - 74s 11ms/step - loss: 596.2111 - acc: 0.4491 - val_loss: 583.6507 - val_acc: 0.4414
Epoch 9/20
6745/6745 [==============================] - 73s 11ms/step - loss: 592.0431 - acc: 0.4491 - val_loss: 580.4295 - val_acc: 0.4414
Epoch 10/20
6745/6745 [==============================] - 73s 11ms/step - loss: 589.1266 - acc: 0.4491 - val_loss: 577.3297 - val_acc: 0.4414
Epoch 11/20
6745/6745 [==============================] - 73s 11ms/step - loss: 585.5735 - acc: 0.4491 - val_loss: 574.3718 - val_acc: 0.4414
Epoch 12/20
6745/6745 [==============================] - 73s 11ms/step - loss: 583.2941 - acc: 0.4491 - val_loss: 571.5267 - val_acc: 0.4414
Epoch 13/20
6745/6745 [==============================] - 73s 11ms/step - loss: 580.5946 - acc: 0.4491 - val_loss: 568.8076 - val_acc: 0.4414
Epoch 14/20
6745/6745 [==============================] - 73s 11ms/step - loss: 578.0750 - acc: 0.4491 - val_loss: 566.2036 - val_acc: 0.4414
Epoch 15/20
6745/6745 [==============================] - 73s 11ms/step - loss: 575.7226 - acc: 0.4491 - val_loss: 563.7323 - val_acc: 0.4414
Epoch 16/20
6745/6745 [==============================] - 74s 11ms/step - loss: 572.8141 - acc: 0.4491 - val_loss: 561.3471 - val_acc: 0.4414
Epoch 17/20
6745/6745 [==============================] - 73s 11ms/step - loss: 570.0936 - acc: 0.4491 - val_loss: 559.0950 - val_acc: 0.4414
Epoch 18/20
6745/6745 [==============================] - 73s 11ms/step - loss: 568.4869 - acc: 0.4489 - val_loss: 556.9446 - val_acc: 0.4414
Epoch 19/20
6745/6745 [==============================] - 73s 11ms/step - loss: 565.6085 - acc: 0.4488 - val_loss: 554.9070 - val_acc: 0.4414
Epoch 20/20
6745/6745 [==============================] - 75s 11ms/step - loss: 564.0417 - acc: 0.4485 - val_loss: 552.9984 - val_acc: 0.4410